.plus-logo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px
}

/* .nav-row {
    background-color:rgba(217,216,214,.5);
    margin-top: 50px;
    margin-bottom: 50px;
} */

.nav {
    margin-top: 10px;
    padding-right: 0px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    text-transform: uppercase;
    padding-top: 0px;
    
}

.nav-link {
    color: #143c57;
    padding-left: 45px;
}

.plus-logo {
    padding: 25px;
    margin-bottom: 0px;
}


.nav .nav-item .nav-link {
    padding-right:25px;
    padding-left: 25px;
}

.nav-link:hover {
    color: #F3b120;
}

.caro-row {
    background-color:rgba(217,216,214,.5);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}
.carousel-home {
   padding: 15px;
}


.about-tlc {
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    font-family: brandon-grotesque, sans-serif;
    padding-top: 15px;
    padding-left: 35px;

}

.para-head {
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 700;
    color: #143c57;
    padding-bottom: 25px;
}

.home-para {
    font-size: 1.75em;
    color: #143c57;
    text-align: justify;
}

.comm-head {
    font-family: brandon-grotesque, sans-serif;
    color: #143c57;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;

}

.comm-para {
    text-align: center;
    margin-bottom: 25px;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 45px;
    margin-right: 45px;

}

.a-icons {
    margin-top: 50px;
    margin-bottom:15px;
}

.a-icon {
    width: 150px;
}

.icon-sub {
    font-family: brandon-grotesque, sans-serif;
    color: #3f738d;
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
}

.carousel-prop {
    padding: 35px;
    padding-bottom: 20px;
}

.prop-logos {
    width: 300px;
}

/* .prop-img {
    padding: 25px;
} */

/* .city {
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 50px;

} */



.property-name {
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: #143c57;
    padding: 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 25px;
    /* margin-top: -20px; */
}

/* .property-name:hover {
    color:#F3b120;
    cursor: pointer;
} */
.amenities {
    list-style-type: none;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25em;
    line-height: 170%;
    padding-left: 0px;
    text-transform: uppercase;
    color: #143c57;
    margin-left: 45px;
    margin-right: 45px;

}

.small-amenities {
    display: none;
}

.website:visited {
    color:#143c57;
}

.website:hover {
    color: #f3b120;
    cursor: pointer;
    text-decoration: none;
}

.property-des {
    object-fit: cover;
    background-color:rgba(217,216,214,.5);
    background-size: inherit;
    color: #143c57;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 100;
    font-size: 1.25em;
    line-height: 200%;

}

/* .property-des li{
   
} */
footer {
    font-family: brandon-grotesque, sans-serif;
    background-color: #143c57;
    padding: 25px;
    color: white;
    text-align: center;
    margin-top: 50px;

}

/* RESPONSIVE LAYOUTS */

/* // Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width:375.98px) {

    .plus-logo {
        padding: 15px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
    .nav {
        margin-top: 10px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        text-transform: uppercase;
        padding-top: 0px;
        
        
    }
    .nav-link {
        color: #143c57;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* .nav .nav-item .nav-link {
        padding-right:25px;
        padding-left: 25px;
    } */
    .caro-row {
        background-color:rgba(217,216,214,.5);
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .carousel {
       padding: 0px;
       padding-top: 15px;
    }

     .about-tlc {
         margin: 0px;
         /* padding: 25px; */
         padding-right: 0px;
         padding-left: 0px;
     }

    .para-head {
        text-transform: uppercase;
        font-size: 1.75em;
        font-weight: 700;
        color: #143c57;
        padding: 10px;
        padding-top: 25px;
        margin: 0px;
        text-align: center;
        margin-bottom: 0px;

    }
    
    .home-para {
        font-size: 1.25em;
        color: #143c57;
        text-align: center;
        padding: 25px;
        padding-top: 5px;
        margin: 0px;
    }

    .properties-info {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .comm-head {
        font-family: brandon-grotesque, sans-serif;
        color: #143c57;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        font-size: 1.75em;
        padding:10px;
        margin-bottom: 10px;
    
    }
    
    .comm-para {
        text-align: center;
        margin: 0px;
        margin-bottom: 25px;
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.25em;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
        /* margin-left: 15px;
        margin-right: 15px; */
    
    }

    .a-icons {
        margin-top: 30px;
        margin-bottom:25px;
    }
    
    .a-icon {
        width: 130px;
    }
    
    .icon-sub {
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.25em;
        color: #3f738d;
        text-transform: uppercase;
        text-align: center;
        padding: 25px;
        padding-bottom: 25px;
    }

    div#blackRock-caro.carousel.slide {
        padding: 0px;
        margin: 0px;
        
    }

    div#commons-caro.carousel.slide {
        padding: 0px;
        padding-top: 25px;
    }

    div#monarch-caro.carousel.slide {
        padding:0px;
        padding-top: 25px;
    }

    div#prom-caro.carousel.slide {
        padding: 0px;
        padding-top: 25px;
    }

   div#teravera-caro.carousel.slide {
        padding: 0px;
        padding-top: 25px;
    }

    div#vistas-caro.carousel.slide {
        padding: 0px;
        padding-top: 25px;
    }

    .property-name {
        font-family: brandon-grotesque, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.15em;
        color: white;
        background-color: #143c57;
        padding: 15px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .amenities {
        display: none;
        /* list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        font-size: .95em;
        line-height: 130%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        margin-left: 10px;
        margin-right: 10px; */
    
    }

    .small-amenities {
        list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        text-align: center;
        font-size: .90em;
        line-height: 170%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        /* margin-left: 10px;
        margin-right: 10px; */
    }


    .comm-feat {
        font-size: 1.15em;
        margin-bottom: 5px;
    }

    .property-des {
        object-fit: cover;
        background-color:rgba(217,216,214,.5);
        background-size: inherit;
        color: #143c57;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 8px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 100;
        font-size: .85em;
        line-height: 125%;
    
    }

    ul {
        margin-bottom: 0px;
    }

    footer {
        margin: 0px;
        margin-top: 25px;
    }
}

@media screen and (min-width:376px) and (max-width: 575.98px) { 
    .container-fluid {
        margin: auto;
        padding: auto;
    }
    body {
        margin: 0px;
    }
    .plus-logo {
        padding: 25px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .nav {
        margin-top: 10px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-top: 0px;
        
        
    }
    .nav-link {
        color: #143c57;
        padding-left: 0px;
    }

    .nav .nav-item .nav-link {
        padding-right:25px;
        padding-left: 25px;
    }
    
    .carousel {
        padding: 25px;
        padding-bottom: 0px;
     }

     .about-tlc {
         margin: 0px;
         padding: 25px;
     }

    .para-head {
        text-transform: uppercase;
        font-size: 2.25em;
        font-weight: 700;
        color: #143c57;
        padding: 10px;
        padding-bottom: 10px;
        margin-right: 0px;
        text-align: center;
        margin-top: 0px;
    }
    
    .home-para {
        font-size: 1.25em;
        color: #143c57;
        text-align: center;
    }

    .properties-info {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .comm-head {
        font-family: brandon-grotesque, sans-serif;
        color: #143c57;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        font-size: 2.5em;
    
    }
    
    .comm-para {
        text-align: center;
        margin: 0px;
        margin-bottom: 25px;
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.25em;
        font-weight: 100;
        /* margin-left: 15px;
        margin-right: 15px; */
    
    }

    .a-icons {
        margin-top: 30px;
        margin-bottom:25px;
    }
    
    .a-icon {
        width: 130px;
    }
    
    .icon-sub {
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.25em;
        color: #3f738d;
        text-transform: uppercase;
        text-align: center;
        padding: 25px;
        padding-bottom: 35px;
    }

    div#blackRock-caro.carousel.slide {
        padding: 12px;
        
    }

    div#commons-caro.carousel.slide {
        padding: 12px;
        padding-top: 45px;
    }

    div#monarch-caro.carousel.slide {
        padding: 12px;
        padding-top: 45px;
    }

    div#prom-caro.carousel.slide {
        padding: 12px;
        padding-top: 45px;
    }

   div#teravera-caro.carousel.slide {
        padding: 12px;
        padding-top: 45px;
    }

    div#vistas-caro.carousel.slide {
        padding: 12px;
        padding-top: 45px;
    }

    .property-name {
        font-family: brandon-grotesque, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.75em;
        color: white;
        background-color: #143c57;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
        margin-top: 0px;
    }

    .amenities {
        /* list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        font-size: .95em;
        line-height: 130%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        margin-left: 10px;
        margin-right: 10px; */
        display: none;
    
    }

    .small-amenities {
        list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        text-align: center;
        font-size: 1.15em;
        line-height: 170%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        /* margin-left: 10px;
        margin-right: 10px; */
    }

    .comm-feat {
        font-size: 1.40em;
    }

    .property-des {
        object-fit: cover;
        background-color:rgba(217,216,214,.5);
        background-size: inherit;
        color: #143c57;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 10px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 100;
        font-size: .95em;
        line-height: 144%;
    
    }
   
    
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) { 
    .container-fluid {
        margin: auto;
        padding: auto;
    }
    body {
        margin: 0px;
    }
    .plus-logo {
        padding: 25px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .nav {
        margin-top: 10px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-top: 0px;
        text-align: center;
        
        
    }
    .nav-link {
        color: #143c57;
        padding-left: 0px;
    }

    .nav .nav-item .nav-link {
        padding-right:25px;
        padding-left: 25px;
    }
    
    .carousel {
        padding: 25px;
     }

     .about-tlc {
         margin: 0px;
         padding: 35px;
     }

    .para-head {
        text-transform: uppercase;
        font-size: 2.75em;
        font-weight: 700;
        color: #143c57;
        padding: 0px;
        padding-bottom: 10px;
        margin-right: 0px;
        text-align: center;
        margin-top: 0px;
    }
    
    .home-para {
        font-size: 1.25em;
        color: #143c57;
        text-align: center;
    }

    .properties-info {
        margin-left: 25px;
        margin-right: 25px;
    }

    .comm-head {
        font-family: brandon-grotesque, sans-serif;
        color: #143c57;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        font-size: 2.5em;
    
    }
    
    .comm-para {
        text-align: center;
        margin: 0px;
        margin-bottom: 25px;
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.25em;
        font-weight: 100;
        /* margin-left: 15px;
        margin-right: 15px; */
    
    }

    .a-icons {
        margin-top: 30px;
        margin-bottom:25px;
    }
    
    .a-icon {
        width: 150px;
    }
    
    .icon-sub {
        font-family: brandon-grotesque, sans-serif;
        color: #3f738d;
        text-transform: uppercase;
        text-align: center;
        padding: 25px;
        padding-bottom: 55px;
    }

    .property-name {
        font-family: brandon-grotesque, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.75em;
        color: white;
        background-color: #143c57;
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-top: 0px;
    }

    .amenities {
        list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        font-size: 1.05em;
        line-height: 130%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        margin-left: 15px;
        margin-right: 15px;
    
    }

    .small-amenities {
        display: none;
    }
    .comm-feat {
        font-size: 1.45em;
    }

    .property-des {
        object-fit: cover;
        background-color:rgba(217,216,214,.5);
        background-size: inherit;
        color: #143c57;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 15px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 100;
        font-size: 1.15em;
        line-height: 165%;
    
    }

}

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) { 

    .container-fluid {
        margin: auto;
        padding: auto;
    }
    body {
        margin: 0px;
    }
    .plus-logo {
        padding: 25px;
        margin-bottom: 0px;
    }

    .nav {
        margin-top: 10px;
        padding-right: 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-top: 0px;
        
        
    }
    .nav-link {
        color: #143c57;
        padding-left: 0px;
    }

    .nav .nav-item .nav-link {
        padding-right:25px;
        padding-left: 25px;
    }

    .caro-row {
        background-color:rgba(217,216,214,.5);
        padding: 15px;
        margin-bottom: 25px;
    }

    .carousel .carousel-home {
        padding: 25px;
     }
     


    .about-tlc {
        margin-top: 0px;
        /* padding-left: 50px; */
        padding-right: 35px;
        font-family: brandon-grotesque, sans-serif;
        text-align: center;
    
    }

    .para-head {
        text-transform: uppercase;
        font-size:2.5em;
        font-weight: 700;
        color: #143c57;
        padding-bottom: 10px;
        text-align: center;
    }
    
    .home-para {
        font-size: 1.25em;
        color: #143c57;
        text-align: center;
    }


    .comm-feat {
        font-size: 1.35em;
    }
    .property-des {
        object-fit: cover;
        background-color:rgba(217,216,214,.5);
        background-size: inherit;
        color: #143c57;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 8px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 100;
        font-size: 1em;
        line-height: 150%;
    
    }

    .small-amenities {
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) { 
    .small-amenities {
        display: none;
    }

    body {
        margin: 0px;
    }
    .plus-logo {
        padding: 25px;
        margin-bottom: 0px;
    }

    .nav {
        margin-top: 10px;
        padding-right: 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-top: 0px;
        
        
    }
    .nav-link {
        color: #143c57;
        padding-left: 0px;
    }

    .nav .nav-item .nav-link {
        padding-right:25px;
        padding-left: 25px;
    }

    .about-tlc {
        margin-top: 0px;
        /* padding-left: 50px; */
        padding: 15px;
        font-family: brandon-grotesque, sans-serif;
        text-align: center;
    
    }

    .para-head {
        text-transform: uppercase;
        font-size:2.25em;
        font-weight: 700;
        color: #143c57;
        text-align: left;
        padding-bottom: 10px;
    }
    
    .home-para {
        font-size: 1.15em;
        color: #143c57;
        text-align: justify;
    }

    .carousel-prop {
        padding: 25px;
        padding-bottom: 20px;
    }

    .property-name {
        font-family: brandon-grotesque, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.75em;
        color: white;
        background-color: #143c57;
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-top: 0px;
    }

    .amenities {
        list-style-type: none;
        font-family: brandon-grotesque, sans-serif;
        font-size: 1em;
        line-height: 130%;
        padding-left: 0px;
        text-transform: uppercase;
        color: #143c57;
        margin-left: 15px;
        margin-right: 15px;
    
    }


    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1499.98) { 
    .small-amenities {
        display: none;
    }

    /* .container-fluid {
        margin: auto;
        padding: auto;
    } */
    /* body {
        margin: 0px;
    } */

    .caro-row {
        background-color:rgba(217,216,214,.5);
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
    }
    .carousel-home {
       padding: 15px;
    }
    
    
    .about-tlc {
        /* padding-left: 50px; */
        /* padding-right: 50px; */
        font-family: brandon-grotesque, sans-serif;
        padding-top: 15px;
        padding-left: 35px;
    
    }
    
    .para-head {
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 700;
        color: #143c57;
        padding-bottom: 25px;
    }
    
    .home-para {
        font-size: 1.25em;
        color: #143c57;
        text-align: justify;
    }


 }

