.plus-logo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px
}

/* .nav-row {
    background-color:rgba(217,216,214,.5);
    margin-top: 50px;
    margin-bottom: 50px;
} */

.nav {
    margin-top: 70px;
    padding: 25px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    
}

.nav-link {
    color: #143c57;
    padding-left: 45px;
}

.nav-link:hover {
    color: #F3b120;
}

.caro-row {
    background-color:rgba(217,216,214,.5);
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel {
   padding: 50px;
}

.about-tlc {
    margin-top: 50px;
    /* padding-left: 50px; */
    padding-right: 50px;
    font-family: brandon-grotesque, sans-serif;

}

.para-head {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
    color: #143c57;
    padding-bottom: 25px;
}

.home-para {
    font-size: 1.25em;
    color: #143c57;
    text-align: justify;
}

.comm-head {
    font-family: brandon-grotesque, sans-serif;
    color: #143c57;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;

}

.prop-logos {
    width: 300px;
}

/* .prop-img {
    padding: 25px;
} */

/* .city {
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 50px;

} */

.properties-info {
    margin-left: 100px;
    margin-right: 100px;
}


.property-name {
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: #143c57;
    padding: 15px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 25px;
    margin-top: -20px;
}

/* .property-name:hover {
    color:#F3b120;
    cursor: pointer;
} */
.amenities {
    list-style-type: none;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25em;
    line-height: 150%;
    padding-left: 0px;
    text-align: center;

}
footer {
    font-family: brandon-grotesque, sans-serif;
    background-color: #143c57;
    padding: 25px;
    color: white;
    text-align: center;
    margin-top: 50px;

}

